<div *ngIf="movie">
    <form #movieReturnForm="ngForm">
        <div class="form-group">
            <label>Rent date: {{movie.rent_date  | date: 'dd/MM/yyyy'}}</label>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="broken" name="broken">Broken</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="not_rewinded" name="not_rewinded">Not rewinded</label>
            </div>
        </div>
        <div class="form-group">
            <label for="delayDays">Days of delay:</label>
            <input type="number" min="0" id="delayDays" [(ngModel)]="delay_days" name="delay_days">
        </div>
        <div class="form-group">
            <label>Fee: {{calculateFee(broken,not_rewinded,delay_days)}} zł</label>
        </div>

        <button type="submit" (click)="returnMovie(movie.id)" class="btn btn-success" [disabled]="!movieReturnForm.form.valid" data-dismiss="modal">Return</button>
    </form>
</div>