<div class="panel panel-info">
    <div class="panel-heading">Customers</div>

    <table class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Surname</th>
        </thead>
        <tbody>
            <tr *ngFor="let cust of customers">
                <td>{{cust.name}}</td>
                <td>{{cust.surname}}</td>
            </tr>
        </tbody>
    </table>
</div>