<div class="input-group col-md-3">
    <span class="input-group-addon primary" id="title-addon">Title:</span>
    <input type="text" class="form-control" placeholder="Search..." aria-describedby="title-addon" [(ngModel)]="title" />
</div>

<div class="panel panel-info">
    <div class="panel-heading clearfix">
        <h4>Rented movies</h4>
    </div>

    <table id="movieList" class="table table-bordered table-hover">
        <thead>
            <th (click)="column='title'; asc === true ? asc = false : asc = true;" class="sort_column">Title</th>
            <th (click)="column='directory'; asc === true ? asc = false : asc = true;" class="sort_column">Director</th>
            <th (click)="column='category'; asc === true ? asc = false : asc = true;" class="sort_column">Category</th>
            <th>Release date</th>
            <th>Rent date</th>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies | filter: title | sort: column: asc">
                <td>{{movie.title}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.category}}</td>
                <td>{{movie.release_date | date: 'dd/MM/yyyy'}}</td>
                <td>{{movie.rent_date | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button type="button" class="btn btn-default" (click)="onSelect(movie)" data-toggle="modal" data-target="#details">Details</button>
                    <button type="button" class="btn btn-success" (click)="onSelect(movie)" data-toggle="modal" data-target="#return_modal">Return</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="details" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Movie</h4>
                </div>
                <div class="modal-body">
                    <movie [movie]="selectedMovie"></movie>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="return_modal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Return movie</h4>
                </div>
                <div class="modal-body">
                    <movie-return [movie]="selectedMovie" (returnAction)="refreshMovies()"></movie-return>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>