<div class="input-group col-md-3">
    <span class="input-group-addon primary" id="title-addon">Title:</span>
    <input type="text" class="form-control" placeholder="Search..." aria-describedby="title-addon" [(ngModel)]="title" />
</div>

<div class="panel panel-info">
    <div class="panel-heading clearfix">
        <button class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#add_modal">
            Add <span class="glyphicon glyphicon-plus"></span>
            </button>
        <h4>Movies</h4>
    </div>

    <table id="movieList" class="table table-bordered table-hover">
        <thead>
            <th>
                <button (click)="column='title'; asc === true ? asc = false : asc = true;" class="btn-xs sort_column">
                    <span class="glyphicon glyphicon-sort"></span>
                </button> Title
            </th>
            <th>
                <button (click)="column='director'; asc === true ? asc = false : asc = true;" class="btn-xs sort_column">
                    <span class="glyphicon glyphicon-sort"></span>
                </button> Director
            </th>
            <th>
                <button (click)="column='category'; asc === true ? asc = false : asc = true;" class="btn-xs sort_column">
                    <span class="glyphicon glyphicon-sort"></span>
                </button> Category
            </th>
            <th>Release date</th>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies | filter: title | sort: column: asc">
                <td>{{movie.title}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.category}}</td>
                <td>{{movie.release_date | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button type="button" class="btn btn-default" (click)="onSelect(movie)" data-toggle="modal" data-target="#details">Details</button>
                    <button type="button" class="btn btn-success" (click)="onSelect(movie)" data-toggle="modal" data-target="#rent_modal">Rent</button>
                    <button type="button" class="btn btn-warning" (click)="onSelect(movie)" data-toggle="modal" data-target="#edit_modal">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="details" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Movie</h4>
                </div>
                <div class="modal-body">
                    <movie [movie]="selectedMovie"></movie>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rent_modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rent movie</h4>
            </div>
            <div class="modal-body">
                <movie-rent [movie]="selectedMovie" (rentAction)="refreshMovies()"></movie-rent>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit_modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit movie</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedMovie">
                    <movie-edit [movie]="selectedMovie" (editAction)="refreshMovies()"></movie-edit>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_modal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add movie</h4>
            </div>
            <div class="modal-body">
                <movie-add (addAction)="refreshMovies()"></movie-add>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>