<div *ngIf="movie">
    <form #movieRentForm="ngForm">
        <div class="form-group">
            <label for="rentDate">Rent date</label>
            <input type="date" class="form-control" id="rentDate" required [(ngModel)]="rent_date" name="rent_date" #rentDate="ngModel">
            <div [hidden]="rentDate.valid || rentDate.pristine" class="alert alert-danger">
                Rent date is mandatory
            </div>
        </div>
        <button type="submit" (click)="rentMovie(movie.id,rent_date)" class="btn btn-success" [disabled]="!movieRentForm.form.valid"
            data-dismiss="modal">Rent</button>
    </form>
</div>