<form #movieAddForm="ngForm">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="movieTitle" required [(ngModel)]="title" name="title" #movieTitle="ngModel">
        <div [hidden]="movieTitle.valid || movieTitle.pristine" class="alert alert-danger">
            Title is mandatory
        </div>
    </div>
    <div class="form-group">
        <label for="director">Director</label>
        <input type="text" class="form-control" id="director" required [(ngModel)]="director" name="director" #movieDirector="ngModel">
        <div [hidden]="movieDirector.valid || movieDirector.pristine" class="alert alert-danger">
            Director is mandatory
        </div>
    </div>
    <div class="form-group">
        <label for="release_date">Realease date</label>
        <input type="date" class="form-control" id="movieDate" required [(ngModel)]="release_date" name="release_date" #movieDate="ngModel">
        <div [hidden]="movieDate.valid || movieDate.pristine" class="alert alert-danger">
            Release date is mandatory
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="movieCategory" required [(ngModel)]="category" name="category" #movieCategory="ngModel">
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
        <div [hidden]="movieCategory.valid || movieCategory.pristine" class="alert alert-danger">
            Category is mandatory
        </div>
    </div>
    <button type="submit" (click)="addMovie(title,director,category,release_date)" class="btn btn-success" [disabled]="!movieAddForm.form.valid"
        data-dismiss="modal">Submit</button>
</form>