body {
    font-family: consolas;
}

.modal_movie {
    display: flex; 
    flex-direction: row;
}

.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.sort_column:hover {
  cursor: pointer;
}

.panel {
  width: 70%;
  align-content: center;
}

button:hover {
  opacity: 0.7;
  font-style: italic;
}