<div class="col-md-offset-3">
    <nav class="mdl-navigation">
        <button class="btn btn-primary" [routerLink]="['/movies']">Movies</button>
        <button class="btn btn-primary" [routerLink]="['/customers']">Customers</button>
        <button class="btn btn-primary" [routerLink]="['/rented_movies']">Rented movies</button>
    </nav>
    <router-outlet></router-outlet>
</div>