<div class="modal_movie" *ngIf="movie">
    <div><img src="{{movie.poster_url}}" height="120" width="80"></div>
    <div>
        <div><label>ID:</label>{{movie.id}}</div>
        <div><label>Title:</label>{{movie.title}}</div>
        <div><label>Director:</label>{{movie.director}}</div>
        <div><label>Category:</label>{{movie.category}}</div>
        <div><label>Release date:</label>{{movie.release_date | date: 'dd/MM/yyyy'}}</div>
    </div>
</div>